.mainbanner {
    background-color: #f8f9fd;
    padding: 156px 7.8% 0 7.8%;
    height: 813px;
    display: flex;
    padding-top: 156px;
    
  }
  
  .mainbanner-left {
    width: 50%;
  }
  
  .mainbanner-left h2 {
    width: 90%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 80px;
    color: #363848;
    margin-bottom: 24px;
  }
  
  .mainbanner-left h2 span {
    color: #5f4bdb;
  }
  
  .mainbanner-left p {
    width: 57%;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #11142d;
  }
  .mainbanner-left-button {
    display: flex;
    width: 50%;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    margin-top: 7%;
    margin-bottom: 10%;
  }
  .mainbanner-left-button .discover {
    width: 197px;
    height: 60px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    border: none;
    background-color: #5f4bdb;
    border-radius: 37px;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 19px 29px rgba(62, 53, 120, 0.07);
  }

  .mainbanner-left-button .discover:hover {
    box-shadow: 0px 19px 29px rgba(62, 53, 120, 0.14);
  }
  
  .mainbanner-left-button .circleplay-btn {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
  }
  
  .mainbanner-left-button img {
    padding: 18px;
    font-size: 24px;
  }
  
  .mainbanner-left-button .watch-demo {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;
    color: #363848;
  }
  .mainbanner-right {
    width: 50%;
    position: relative;
  }
  .mainbanner-right .circle-shape {
    position: absolute;
    top: 38px;
    left: 12%;
    width: 575px;
    height: 575px;
    background-color: #b3c3ff;
  }
  .big-dot-shape {
    position: absolute;
    top: 426px;
    left: 75%;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #5f4bdb;
  }
  .small-dot-shape {
    position: absolute;
    top: 28px;
    left: 70%;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #b2c3ff;
  }
  
  .bars {
    position: absolute;
    top: 140px;
    left: 65%;
    z-index: 1;
  }

  .bars img {
    width: 100%;
  }
  
  .emoji {
    position: absolute;
    top: -69px;
    left: 50%;
  }
  
  .big-dots {
    position: absolute;
    top: 39px;
    left: 34px;
    width: 36px;
    height: 66px;
  }
  
  .small-dots {
    position: absolute;
    top: 480px;
    left: 85%;
    width: 46.5px;
    height: 46.2px;
    z-index: 1;
  }
  
  .card-profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 60%;
    left: -20%;
    z-index: 2;
    width: 55%;
    height: 154px;
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 17px;
    backdrop-filter: blur(5.5px);
    box-shadow: 0px 11px 39px rgba(0, 0, 0, 0.07);
  }
  
  .card-profile-avt {
    width: 102px;
    height: 102px;
    border-radius: 20px;
    background-color: #c4c4c4;
    margin-left: 26px;
  }
  .card-profile-infor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 102px;
  }
  .card-profile-infor h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #000000;
  }
  
  .card-profile-infor p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  
    color: #000000;
  }
  .card-profile-infor-favor img{
    width: 15%;
  }
  
  .card-profile-btn {
    width: 25%;
    display: flex;
    justify-content: space-around;
  }


  @media only screen and (max-width: 1400px) {

    .mainbanner {
      width: 100%;
      padding: 156px 5% 0 5%;
    }
    .mainbanner-left h2 {
      font-size: 56px;
    line-height: 72px;
    }
    .mainbanner-right .circle-shape {
      width: 475px;
      height: 475px;
    }

    .bars img {
      width: 80%;
    }

    .card-profile {
      width: 60%;
    height: 20%;
    }
    .mainbanner-left-button {
      width: 70%;
    }
  }

  @media only screen and (max-width: 1200px) {
    .mainbanner-left h2 {
      font-size: 48px;
    line-height: 60px;
    }
    .card-profile-avt {
     
      margin-left: 5px;
      margin-right: 5px;
    }

    .mainbanner-right .circle-shape {
      width: 400px;
      height: 400px;
    }
   


    @media only screen and (max-width: 992px) {
      .card-profile {
        display: none;
      }

      .mainbanner {
        position: relative;
      }

      .mainbanner-left {
        position: relative;
        width: 100%;
        z-index: 2;
      }

      .mainbanner-right {
        position: absolute;
        filter: blur(5px);
        z-index: 1;
        width: 90%;
      }
      .mainbanner-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .mainbanner-left p {
        width: 85%;
      }
      .emoji {
        top: -100px;
        left: 60%;
    }
    .mainbanner-right .circle-shape {
      
      background-color: #b1c1ff;
    }

}}