.featureprofile {
    padding: 0 7.8%;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 329px;
    margin-top: 115px;
  }
  
  .featureprofile-title {
    display: flex;
    justify-content: space-between;
  }
  
  .featureprofile-containcard {
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
  }
  
  .featureprofile-title h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #363848;
  }
  
  .featureprofile-title a {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #5f4bdb;
    text-decoration: none;
  }
  
  .featureprofile-top {
    margin: 10% 0 8% 10%;
    display: flex;
    align-items: center;
  }
  
  .featureprofile-card {
    width: 23%;
    height: 238px;
    background: #ffffff;
    box-shadow: 0px 2px 28px rgba(62, 53, 120, 0.04);
    border-radius: 18px;
  }

  .featureprofile-card:hover {
    box-shadow: 0px 2px 28px rgba(62, 53, 120, 0.14);
  }
  
  .featureprofile-card-avt {
    position: relative;
    width: 86px;
    height: 86px;
    background: #c4c4c4;
    border-radius: 94.5px;
  }
  
  .featureprofile-card-dot {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 22px;
    height: 22px;
    background: #30c736;
    border: 4px solid #ffffff;
    border-radius: 39px;
  }
  
  .featureprofile-card-infor {
    margin-left: 20px;
  }
  
  .featureprofile-card-infor h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #363848;
    margin-bottom: 5px;
  }
  
  .featureprofile-card-infor > p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
  }
  
  .featureprofile-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10% 10% 10%;
  }
  
  .featureprofile-btn {
    font-family: "Poppins", sans-serif;
    width: 35%;
    height: 43px;
    background: #fe8d4d;
    border-radius: 37px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
  }
  
  .featureprofile-favor img {
    height: 16px;
    width: 16px;
  }
  
  .featureprofile-bottom > p {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }
  
  .featureprofile-arrow-left {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 56%;
    left: 6.5%;
    width: 50px;
    height: 50px;
    background: #5f4bdb;
    box-shadow: 0px 19px 29px rgba(62, 53, 120, 0.14);
    border-radius: 50%;
  }
  
  .featureprofile-arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 56%;
    right: 6.5%;
    width: 50px;
    height: 50px;
    background: #5f4bdb;
    box-shadow: 0px 19px 29px rgba(62, 53, 120, 0.14);
    border-radius: 50%;
  }

  @media only screen and (max-width: 1600px) {
    .featureprofile {
      padding: 0 5%;
    }

      .featureprofile-arrow-left {
        left: 4%;
      }

      .featureprofile-arrow-right {
        right: 4%;
      }
      .featureprofile-card-infor {
        margin-left: 18px;
      }
  }

  @media only screen and (max-width: 1400px) {
    .featureprofile-containcard .featureprofile-card:last-child{
      display: none;
    }
    .featureprofile-containcard {
      margin: 50px;
    }

     
  .featureprofile-card {
    width: 32%;
  }

  .featureprofile-top {
    margin: 10% 0 8% 6%;

  }

  .featureprofile-bottom {
    margin: 0 6% 10% 6%;
  }
  }

  @media only screen and (max-width: 1200px) {
    .featureprofile {
      padding: 0 3%;
    }
    .featureprofile-title h3 {
      font-size: 28px;
    }
  
  }

  @media only screen and (max-width: 992px) {
    .featureprofile-containcard .featureprofile-card:nth-last-child(2){
      display: none;
    }
    .featureprofile {
      padding: 0 5%;
    }
    .featureprofile-card {
      width: 47%;

    }
    .featureprofile-bottom {
      margin: 0 10% 10% 10%;
    }
  }

  @media only screen and (max-width: 768px) {
    .featureprofile-containcard .featureprofile-card:nth-last-child(3){
      display: none;
    }
    .featureprofile-card {
      width: 90%;

    }

    
  }