.footer {
    height: 579px;
    padding: 7.8% 7.8% 0 7.8%;
    background-color: #1f2131;
    display: grid;
    grid-template-columns: 33% 15% 15% 15% 22%;
  }
  
  .footer-infor p {
    width: 80%;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 65px;
  }
  
  .footer-infor-social {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 50px;
    margin-left: 24px;
  }
  
  .footer-infor-social .twitter {
    width: 58px;
    height: 58px;
    background-color: #3cb5db;
    border-radius: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-infor-social img {
    object-fit: contain;

  }
  
  .footer-ziro h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
  
  .footer-ziro ul {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    list-style-type: none;
    margin-top: 24px;
  }
  .footer-ziro li {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  .footer-ziro li img {
    margin-right: 16px;
  }

  @media only screen and (max-width: 1200px) {
    .footer {
      padding: 7.8% 5% 0 5%;
    }
    .footer-ziro ul {
      font-size: 14px;
      line-height: 20px;
    }
    .footer-infor p {
  
      font-size: 14px;
      line-height: 20px;
    
    }
    
  }

  @media only screen and (max-width: 992px) {

    .footer {
      height: auto;
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 70px;
      justify-content: space-between;
    }
    .footer-infor {
      width: 100%;
      padding:0 40px;
    }

    .footer-infor p {
      width: 100%;
      margin-top: 20px;
    }
    
    .footer-infor-social {
      display: flex;
      justify-content: space-between;
      width: 40%;
      margin-top: 20px;
      margin-left: 24px;
      margin-bottom: 60px;
    }

    .footer-ziro h3 {
      font-size: 16px;
      line-height: 30px;
      color: #ffffff;
    }
    
    .footer-ziro ul {
      font-size: 12px;
      line-height: 24px;
      color: #ffffff;
      list-style-type: none;
      margin-top: 24px;
    }
    .footer-ziro li {
      margin-top: 20px;
      display: flex;
      align-items: center;
    }
    .footer-ziro li img {
      margin-right: 12px;
      width: 12px;
    }
  
  
  }