.statistics {
    margin: 0 7.8%;
    padding: 0 8.5%;
    position: relative;
    height: 315px;
    background-color: #5f4bdb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .statistics h3 {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    color: #ffffff;
    z-index: 1;
  }
  
  .statistics p {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: 19px;
  }
  
  .statistics-dot-white {
    position: absolute;
    top: 257px;
    left: 492px;
  }
  
  .statistics-dot-gray {
    position: absolute;
    top: 194px;
    right: 36.37px;
  }
  
  .statistics .left {
    position: absolute;
    top: -143px;
    left: -143px;
    width: 286px;
    height: 286px;
    background: rgba(82, 65, 187, 0.33);
  }
  
  .statistics .right {
    position: absolute;
    top: -135px;
    right: 10px;
    width: 271px;
    height: 271px;
    background: #6b58e0;
  }
  
  .statistics .bottom {
    position: absolute;
    top: 245px;
    left: 231px;
    width: 329px;
    height: 329px;
    background: #5241bb;
    z-index: 0;
  }
  
  .statistics .middle {
    position: absolute;
    top: 68px;
    left: 129px;
    width: 62px;
    height: 62px;
    background: #6b58e0;
  }

  @media only screen and (max-width:1400px) {
    .statistics {
      margin: 0 5%;
      padding: 0 7%;
  }
}

@media only screen and (max-width:1200px) {
  .statistics {
    margin: 0 5%;
    padding: 0 7%;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    text-align: center;
}

@media only screen and (max-width:992px) {
  .statistics h3 {
    font-weight: 500;
    font-size: 48px;
    color: #ffffff;
    z-index: 1;
  }
  
  .statistics p {
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
  }

  .statistics-dot-white {
display: none;
  }
  
}

}
