@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import url(..//HTML_CSS_Ex//css//header.css);
@import url(..//HTML_CSS_Ex//css//banner.css);
@import url(..//HTML_CSS_Ex//css//steps-layout.css);
@import url(..//HTML_CSS_Ex//css//featureprofile.css);
@import url(..//HTML_CSS_Ex//css//brandlogo.css);
@import url(..//HTML_CSS_Ex//css//testimonials.css);
@import url(..//HTML_CSS_Ex//css//statistics.css);
@import url(..//HTML_CSS_Ex//css//pricingplan.css);
@import url(..//HTML_CSS_Ex//css//newsletter.css);
@import url(..//HTML_CSS_Ex//css//footer.css);
@import url(..//HTML_CSS_Ex//css//copyright.css);




* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}
.circle-shape {
  border-radius: 50%;
}

.dotted-slide {
  width: 120px;
}
.dotted-slide ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}
.dotted-slide ul li {
  width: 21px;
  height: 6px;
  background-color: #d7d0fb;
  border-radius: 10px;
}
.container {
  width: 1920px;
  display: flex;
  flex-direction: column;
}

.dotted-slide .active {
  width: 39px;
  background-color: #5f4bdb;
}

@media only screen and (max-width: 1620px)  {
  .container {
    width: 100%;
  }
}



















